<div class="container">
  <h1>To-Do List</h1>

  <!-- Add Task Component -->
  <AddTask 
    @newTaskTitle={{this.newTaskTitle}} 
    @setNewTaskTitle={{this.setNewTaskTitle}} 
    @addTask={{this.addTask}} 
  />

  <!-- Task List Component -->
  <TaskList 
    @tasks={{this.model.tasks}} 
    @toggleTask={{this.toggleTask}} 
  />
</div>
